[Unit]
Description=Demo engine service container
# SERVICE_MARKER_C3D4
Requires=network-online.target
After=network-online.target

[Container]
Image=localhost/auto-apps
Exec=/usr/bin/engine-service

[Service]
Restart=always
